**Import Necessary Libraries** *texte en italique*

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap

**Load the Dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Prodigy InfoTech/usaccedents.csv/USA_ACCIDENTS.csv")

**Exploration the Dataset**

In [ ]:
df.head()

,Unnamed: 0,ID,Start_Time,Start_Lat,Start_Lng,City,State,Temperature(F)
0,0,A-1,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,OH,36.9
1,1,A-2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,OH,37.9
2,2,A-3,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,OH,36.0
3,3,A-4,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,OH,35.1
4,4,A-5,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,OH,36.0

In [ ]:
df.tail(5)

,Unnamed: 0,ID,Start_Time,Start_Lat,Start_Lng,City,State,Temperature(F)
7728389,7728389,A-7777757,2019-08-23 18:03:25,34.00248,-117.37936,Riverside,CA,86.0
7728390,7728390,A-7777758,2019-08-23 19:11:30,32.76696,-117.14806,San Diego,CA,70.0
7728391,7728391,A-7777759,2019-08-23 19:00:21,33.77545,-117.84779,Orange,CA,73.0
7728392,7728392,A-7777760,2019-08-23 19:00:21,33.99246,-118.40302,Culver City,CA,71.0
7728393,7728393,A-7777761,2019-08-23 18:52:06,34.13393,-117.23092,Highland,CA,79.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   ID              object
 2   Start_Time      object
 3   Start_Lat       float64
 4   Start_Lng       float64
 5   City            object
 6   State           object
 7   Temperature(F)  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 471.7+ MB

In [ ]:
df.isnull().sum()

Unnamed: 0             0
ID                     0
Start_Time             0
Start_Lat              0
Start_Lng              0
City                 253
State                  0
Temperature(F)    163853
dtype: int64

In [ ]:
df.shape

(7728394, 8)

In [ ]:
df.describe()

         Unnamed: 0     Start_Lat     Start_Lng  Temperature(F)
count  7.728394e+06  7.728394e+06  7.728394e+06    7.564541e+06
mean   3.864196e+06  3.620119e+01 -9.470255e+01    6.166329e+01
std    2.230995e+06  5.076079e+00  1.739176e+01    1.901365e+01
min    0.000000e+00  2.455480e+01 -1.246238e+02   -8.900000e+01
25%    1.932098e+06  3.339963e+01 -1.172194e+02    4.900000e+01
50%    3.864196e+06  3.582397e+01 -8.776662e+01    6.400000e+01
75%    5.796295e+06  4.008496e+01 -8.035368e+01    7.600000e+01
max    7.728393e+06  4.900220e+01 -6.711317e+01    2.070000e+02

In [ ]:
df.columns

Index(['Unnamed: 0', 'ID', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City',
       'State', 'Temperature(F)'],
      dtype='object')

In [ ]:
df.dtypes

Unnamed: 0          int64
ID                 object
Start_Time         object
Start_Lat         float64
Start_Lng         float64
City               object
State              object
Temperature(F)    float64
dtype: object

**Data Preprocessing**

In [ ]:
df.dtypes.value_counts()

object     4
float64    3
int64      1
Name: count, dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'ID', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City',
       'State', 'Temperature(F)'],
      dtype='object')

In [ ]:
df.dtypes

Unnamed: 0          int64
ID                 object
Start_Time         object
Start_Lat         float64
Start_Lng         float64
City               object
State              object
Temperature(F)    float64
dtype: object

In [ ]:
df.dtypes.value_counts()

object     4
float64    3
int64      1
Name: count, dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Unnamed: 0, ID, Start_Time, Start_Lat, Start_Lng, City, State, Temperature(F)]
Index: []

In [ ]:
df_cleaned = df.drop_duplicates()

In [ ]:
df_cleaned = df.drop_duplicates(keep='last')

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isna().sum()

Unnamed: 0             0
ID                     0
Start_Time             0
Start_Lat              0
Start_Lng              0
City                 253
State                  0
Temperature(F)    163853
dtype: int64